"""Please fill those with your data and remove .template ending"""
USER_NAME = "fill here your username"
USER_PASSWORD = "fill here your password"
USER_ID_NUMBER ="fill here your id number"

"""
example for Secret.py:
USER_NAME = "bob"
USER_PASSWORD = "12345"
USER_ID_NUMBER ="123456789"
"""

